.advantages__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  padding-left: 78px;
  list-style: none;
}

.advantages__description {
  width: 194px;
  margin-bottom: 32px;
  font-family: $arial;
  line-height: 18px;
  color: $dark-grey;
}
