.example {
  display: flex;
  flex-direction: column;

  background-color: $white-four;
}

.example__title {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__description {
  margin: 0 20px;
  margin-bottom: 23px;

  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: $dark-grey;
}

.example__container {
  display: flex;
  flex-direction: column;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;

  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.example__text-1 {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  font-family: $oswald;
  text-transform: uppercase;
}

.example__text-2 {
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  text-transform: lowercase;
  color: $dark-grey;
}

.example__costs {
  align-self: center;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $white-four;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
  }

  .example__title {
    margin-left: 30px;
    margin-bottom: 50px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    margin: 0 30px;
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px 0;
  }

  .example__list {
    margin: 0;
  }

  .example__item {
    margin-right: 40px;
  }

  .example__item:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .example__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: $white-four;
  }

  .example__column-1 {
    width: 570px;
  }
}
