.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 22px;
}

.programs__wrapper {
  margin: 0 20px;
}

.programs__list {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  display: block;
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  position: relative;

  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  display: block;
  min-height: 266px;
  margin: 0;
  margin-bottom: 20px;

  background-color: $white-four;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:nth-of-type(2) .programs__title::before {
    top: 24px;
  }

  &:nth-of-type(1) .programs__title::after {
    content: "";

    position: absolute;
    top: 22px;
    left: 9px;

    width: 50px;
    height: 50px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &:nth-of-type(2) .programs__title::after {
    content: "";

    position: absolute;
    top: 35px;
    left: -7px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }

  &:nth-of-type(1) .programs__link {
    position: relative;

    width: 87px;
    padding-right: 44px;
  }

  &:nth-of-type(2) .programs__link {
    position: relative;

    width: 83px;
    padding-right: 46px;
  }

  &:nth-of-type(1) .programs__link::after,
  &:nth-of-type(2) .programs__link::after {
    top: 3px;
    right: 9px;
  }
}

.programs__title {
  position: relative;

  margin: 0;
  margin-bottom: 22px;
  margin-left: 20px;
  padding-top: 22px;
  padding-left: 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 52px;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 2px;

    width: 50px;
    height: 50px;

    background-color: $leaf;
    border-radius: 50%;
  }
}

.programs__description {
  flex-grow: 1;
  margin: 0 20px;
  padding-bottom: 22px;

  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: $dark-grey;

  border-bottom: $grey-border;
}

.programs__link {
  position: absolute;
  bottom: 0;

  display: flex;
  margin: 19px 0 22px 19px;

  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";

    position: absolute;
    // top: 2px;
    // left: 85px;
    // right: -2px;

    width: 24px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  // &:hover::after {
  //   width: 34px;
  //   // height: 12px;

  //   background-image: url("../img/icon-right-arrow-verylong.svg");
  // }
}

@media (min-width: $tablet-width) {
  .programs {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
  }

  .programs__wrapper {
    margin: 0 30px;
  }

  .programs__item {
    position: relative;

    min-height: 372px;
    margin-bottom: 30px;

    // &:nth-of-type(1) .programs__title-icon {
    //   position: absolute;
    //   top: 0;
    //   right: 1px;

    //   width: 50px;
    //   height: 50px;
    // }

    // &:nth-of-type(2) .programs__title-icon {
    //   position: absolute;
    //   top: 12px;
    //   right: -8px;

    //   width: 67px;
    //   height: 28px;
    // }

    &::before {
      content: "";

      position: absolute;
      top: 92px;
      right: 62px;

      width: 200px;
      height: 200px;

      background-color: $leaf;
      border-radius: 50%;
    }

    &:nth-of-type(2)::before {
      top: 91px;
      right: 60px;
    }

    &:nth-of-type(1)::after {
      content: "";

      position: absolute;
      top: 80px;
      right: 91px;

      width: 141px;
      height: 194px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }

    &:nth-of-type(2)::after {
      content: "";

      position: absolute;
      top: 135px;
      right: 28px;

      width: 268px;
      height: 113px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }

    &:nth-of-type(1) .programs__title::after {
      width: 0;
      height: 0;
    }

    &:nth-of-type(2) .programs__title::after {
      width: 0;
      height: 0;
    }

    &:nth-of-type(1) .programs__link {
      position: relative;

      width: 110px;
      padding-right: 45px;
    }

    &:nth-of-type(1) .programs__link-icon {
      position: absolute;
      top: 3px;
      right: 1px;
    }

    &:nth-of-type(2) .programs__link {
      position: relative;

      width: 106px;
      padding-right: 43px;
    }

    &:nth-of-type(2) .programs__link-icon {
      position: absolute;
      top: 3px;
    }


    &:nth-of-type(1) .programs__link::after {
      top: 5px;
      right: 0;
    }

    &:nth-of-type(2) .programs__link::after {
      top: 5px;
      right: 0;
    }
  }

  .programs__title {
    // margin: 76px 0 25px 53px;
    margin: 0;
    padding-top: 76px;
    padding-bottom: 25px;
    padding-left: 53px;

    font-size: 36px;
    line-height: 37px;

    &::before {
      width: 0;
      height: 0;
    }
  }

  .programs__description {

    margin-right: 280px;
    margin-bottom: 56px;
    margin-left: 52px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs__description--mass {
    margin-right: 312px;
  }

  .programs__link {
    margin: 0 0 62px 53px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    justify-content: space-between;
    max-width: 1440px;
    margin-bottom: 73px;
  }

  .programs__wrapper {
    margin: 0 110px;
  }

  .programs__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // margin: 0 auto;
  }

  .programs__item {
    width: 570px;
    margin: 0;
    margin-right: 80px;

    &::before {
      width: 0;
      height: 0;
    }

    &:nth-of-type(2) .programs__title::before {
      top: 47px;
    }

    &:nth-of-type(1)::after {
      width: 0;
      height: 0;
    }

    &:nth-of-type(2)::after {
      width: 0;
      height: 0;
    }

    &:nth-of-type(1) .programs__title::after {
      content: "";

      position: absolute;
      top: 41px;
      left: 66px;

      width: 71px;
      height: 97px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }

    &:nth-of-type(2) .programs__title::after {
      content: "";

      position: absolute;
      top: 69px;
      left: 34px;

      width: 134px;
      height: 57px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }

    &:nth-of-type(2) .programs__link::after {
      top: 5px;
    }

    // &:nth-of-type(2) .programs__link-icon {
    //   position: absolute;
    //   top: 4px;
    //   right: 1px;
    // }
  }

  .programs__item:last-of-type {
    margin-right: 0;
  }

  .programs__title {
    margin: 0;
    padding: 0;
    padding-top: 76px;
    padding-bottom: 74px;
    padding-left: 214px;

    &::before {
      content: "";

      position: absolute;
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;

      background-color: $leaf;
      border-radius: 50%;
    }
  }

  .programs__description {
    margin-right: 50px;
    margin-bottom: 31px;
    padding: 0;
  }

  .programs__link {
    margin: 0 0 62px 53px;
  }
}
