.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 22px;
}

.programs__wrapper {
  margin: 0 20px;
}

.programs__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 266px;
  margin: 0;
  margin-bottom: 20px;

  background-color: $white-four;
}

.programs__item:last-of-type {
  margin-bottom: 0;
}

.programs__title {
  margin: 30px 0 31px 91px;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}

.programs__description {
  flex-grow: 1;
  margin: 0 21px;
  padding-bottom: 23px;

  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  color: $dark-grey;

  border-bottom: $grey-border;
}

.programs__link {
  display: block;
  margin: 18px 0 22px 20px;

  font-size: 16px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .programs {
    display: flex;
    flex-direction: row;
    margin-bottom: 44px;
  }

  .programs__wrapper {
    margin: 0 30px;
  }

  .programs__item {
    min-height: 372px;
    margin-bottom: 30px;
  }

  .programs__title {
    margin: 76px 0 24px 53px;

    font-size: 36px;
    line-height: 37px;
  }

  .programs__description {
    margin-left: 53px;
    margin-right: 280px;
    // padding: 81px 0 26px 55px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs__description--mass {
    margin-right: 312px;
  }

  .programs__link {
    margin: 0 0 62px 53px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    justify-content: space-between;
    margin-bottom: 73px;
  }

  .programs__wrapper {
    margin: 0 110px;
  }

  .programs__list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // margin: 0 auto;
  }

  .programs__item {
    width: 570px;
    margin: 0;
    margin-right: 80px;
  }

  .programs__item:last-of-type {
    margin-right: 0;
  }

  .programs__title {
    margin: 77px 0 73px 214px;
  }

  .programs__description {
    margin-right: 50px;
    margin-bottom: 31px;
    padding: 0;
  }

  .programs__link {
    margin: 0 0 62px 53px;
  }
}
