.promo {
  width: 320px;
  // background-color: $leaf;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;
  padding: 29px 0 19px;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: $white;
}

.promo__slogan {
  margin: 0;
  padding-bottom: 29px;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
}
