.catalog {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.catalog__list {
  margin: 0 20px;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 185px;
  margin-bottom: 25px;

  border-top: $white-three-top;
}

.catalog__columns {
  display: flex;
}

.catalog__column-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.catalog__link-product-1 {
  align-self: center;
}

.catalog__column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 23px;
}

.catalog__link-product-2 {
  align-self: flex-start;
}

.catalog__title {
  width: 75px;
  margin: 25px 0 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__table {
  width: 100%;
}

.catalog__td-1,
.catalog__td-2 {
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $dark-grey;
}

.catalog__td-2 {
  text-align: end;
}

.catalog__link-buy {
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog__text {
  align-self: center;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__description {
  align-self: center;

  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $dark-grey;
}

.catalog__button {
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-grey;

  background-color: $white-four;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 30px;
  }

  .catalog__item {
    width: 45%;

    background-color: $white-four;
  }

  .catalog__item:last-of-type {
    background-color: white;
    border: $very-light-pink-three;
  }

  .catalog__columns {
    flex-direction: column;
    align-items: center;
  }

  .catalog__link-product-2 {
    align-self: center;
  }

  .catalog__link-buy {
    margin: 0 40px;
    margin-bottom: 40px;
  }

  .catalog__button {
    margin: 0 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    margin: 0 110px;
  }

  .catalog__item {
    width: 22%;
  }
}
