.catalog {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 25px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 185px;
  margin-bottom: 23px;

  border-top: $white-three-top;

  &:last-of-type {
    justify-content: flex-end;
    min-height: 208px;
    margin: 0;

    border-bottom: $white-three-top;
  }
}

.catalog__columns {
  display: flex;
  margin: 0 20px;
}

.catalog__column-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.catalog__link-product-1 {
  align-self: center;
}

.catalog__column-2 {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 50%;
  // margin-bottom: 17px;
}

.catalog__link-product-2 {
  align-self: flex-start;
}

.catalog__title {
  width: 75px;
  margin: 21px 0 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__table {
  width: 100%;
}

.catalog__td-1,
.catalog__td-2 {
  padding: 0;

  font-size: 12px;
  line-height: 14px;
  font-family: $arial;
  color: $dark-grey;

  border-collapse: collapse;
}

.catalog__td-2 {
  text-align: end;
}

.catalog__link-buy {
  margin: 0 20px;
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog__text {
  position: relative;

  align-self: center;
  margin: 0;
  margin-bottom: 8px;
  padding-top: 54px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 86px;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
  }
}

.catalog__description {
  align-self: center;
  margin: 0;
  margin-bottom: 22px;

  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $dark-grey;
}

.catalog__button {
  margin: 0 20px;
  margin-bottom: 23px;
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-grey;

  background-color: $white-four;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 66px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 30px;
  }

  .catalog__item {
    width: 45.8%;
    min-height: 431px;
    margin-bottom: 139px;

    background-color: $white-four;

    &:nth-of-type(even) .catalog__link-product-1 {
      display: block;
      margin-top: -80px;
    }

    &:nth-of-type(even) .catalog__column-2 {
      margin-top: 72px;
    }

    &:nth-of-type(even) .catalog__title {
      margin-top: 0;
    }

    &:nth-last-of-type(2) {
      margin: 0;
    }

    &:last-of-type {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 431px;
      width: 45.4%;

      background-color: white;
      border: $very-light-pink-three;
    }
  }

  .catalog__columns {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .catalog__link-product-1 {
    width: 320px;
    height: 171px;
    margin-top: -46px;
  }

  .catalog__image {
    width: 100%;
  }

  .catalog__link-product-2 {
    align-self: center;
  }

  .catalog__title {
    // width: 126px;
    width: 130px;
    margin-top: 32px;
    margin-bottom: 18px;

    font-size: 20px;
    text-align: center;
  }

  .catalog__column-2 {
    box-sizing: border-box;
    width: 100%;
    margin-top: 7px;
    padding: 0 36px;
  }

  .catalog__table {
    margin-bottom: 31px;
  }

  .catalog__td-1,
  .catalog__td-2 {
    height: 30px;

    font-size: 16px;
    line-height: 16px;

    border-bottom: $very-light-pink-three;
  }

  .catalog__link-buy {
    margin: 0 38px;
    margin-bottom: 40px;
  }

  .catalog__text {
    width: 135px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 8px;
    padding-top: 109px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 38px;

      width: 61px;
      height: 61px;

      background-image: url("../img/icon-plus.svg");
    }
  }

  .catalog__description {
    width: 167px;
    margin-bottom: 65px;

    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .catalog__button {
    margin: 0 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 74px;
  }

  .catalog__list {
    margin: 0 110px;
  }

  .catalog__item {
    width: 20.1%;
    margin-bottom: 141px;

    &:nth-last-of-type(2),
    &:nth-last-of-type(3),
    &:nth-last-of-type(4) {
      margin: 0;
    }

    &:last-of-type {
      width: 20%;
    }
  }

  .catalog__link-product-1 {
    width: 242px;
  }

  .catalog__title {
    margin-top: 30px;
  }
}
