.extra-goods {
  min-width: 320px;
}

.extra-goods__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black-two;
}

.extra-goods__list {
  padding: 0;
  list-style: none;
}

.extra-goods__item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-three;
}

.extra-goods__td {
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;
}

.extra-goods__buy {
  display: inline-block;
  padding: 10px 108px;
  font-size: 16px;
  line-height: 20px;
}

.extra-goods__gift {
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.extra-goods__gift-text {
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
