.page-catalog {
  min-width: 320px;
  margin: 0 auto;
}

.page-catalog__title {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 28px;
  margin-left: 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black-two;
}

@media (min-width: $tablet-width) {
  .page-catalog__title {
    margin-top: 42px;
    margin-bottom: 164px;
    margin-left: 30px;

    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-catalog {
    width: 1440px;
  }

  .page-catalog__title {
    margin-left: 110px;
    margin-bottom: 165px;
  }
}
