// Fonts
$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;

// Colors
$black-two: #111111;
$black-three: #222222;
$dark-grey: #444444;
$white: #ffffff;
$white-four: #f2f2f2;
$leaf: #68b738;
$grey-border: #d9d9d9 1px solid;
$white-three-top: #f2f2f2 1px solid;
$very-light-pink-three: #cdcdcd 1px solid;

$tablet-width: 768px;
$desktop-width: 1440px;
