.form__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: $black-two;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-two;
}

.form__legend {
  font-size: 24px;
  line-height: 24px;
  color: $black-two;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-three;
}

.form__input-text::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__input-text::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__input-text:-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__textarea {
  width: 100%;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__submit {
  display: inline-block;
  padding: 8px 84px 12px;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__required-field {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  color: $dark-grey;
}
