.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black-two;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-two;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;

  border: none;
}

.form__legend {
  font-size: 24px;
  line-height: 24px;
  color: $black-two;
}

.form__label {
  display: flex;
  margin: 0 20px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-three;
}

.form__input-text {
  flex-grow: 1;
  margin-left: 13px;
}

.form__input-text::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__input-text::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__input-text:-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__textarea {
  width: 94%;
  margin: 0 20px;
}

.form__textarea::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__textarea:-ms-input-placeholder {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-grey;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.form__submit {
  display: inline-block;
  padding: 8px 84px 12px;

  font-size: 16px;
  line-height: 20px;

  border: none;
}

.form__required-field {
  font-size: 14px;
  line-height: 16px;
  font-family: $arial;
  color: $dark-grey;
}

@media (min-width: $tablet-width) {
  .form__container-extra {
    display: flex;
    flex-wrap: wrap;
  }

  .form__label--extra {
    width: 40%;
  }

  .form__wrapper {
    flex-direction: row;
  }

  .form__submit {
    width: 50%;
  }

  .form__required-field {
    width: 50%;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    flex-direction: row;
  }

  .form__fieldset:nth-of-type(1),
  .form__fieldset:nth-of-type(2) {
    flex-grow: 1;
  }

  .form__label--extra {
    width: 22%;
  }
}
