.map {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &--bg {
    background-color: $white-four;
  }
}

.map__wrapper {
  z-index: 2;
}

.map__wrap {
  z-index: 2;
}

.map__container {
  z-index: 2;

  display: flex;
  justify-content: space-between;
  min-height: 114px;
  margin: 0;

  background-color: $white-four;

  &--index {
    background-color: $white;
  }
}

.map__invite {
  width: 125px;
  margin-top: 28px;
  margin-left: 19px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.map__address-wrapper {
  display: flex;
  flex-direction: column;
  width: 136px;
  margin-top: 28px;
  margin-right: 24px;
}

.map__address {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: $arial;
  color: $dark-grey;
}

.map__image {
  position: relative;

  display: flex;
  // width: 320px;
  height: 400px;
  margin: 0 auto;
  margin-top: -38px;

  &--interactive {
    position: absolute;
    bottom: 0;
    z-index: 1;

    width: 100%;
    height: 400px;
  }
}

.map__pin {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 60px;

  margin-left: -30px;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .map__container {
    min-height: 201px;
  }

  .map__invite {
    width: 154px;
    margin-top: 66px;
    margin-left: 71px;

    font-size: 20px;
    line-height: 25px;
  }

  .map__address-wrapper {
    justify-content: space-between;
    width: 160px;
    margin-top: 64px;
    margin-right: 71px;
    margin-bottom: 57px;
  }

  .map__address {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .map__image {
    width: 767px;
    margin-top: -4px;
  }

  .map__pin {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 124px;

    margin-left: -62px;
    margin-top: 48px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    &--bg {
      background-color: $white;
    }
  }

  .map__wrapper {
    z-index: 2;
  }

  .map__wrap {
    position: relative;
    z-index: 2;
  }

  .map__container {
    position: absolute;
    top: 94px;
    left: 50%;

    display: flex;
    width: 570px;
    margin-left: -610px;

    background-color: $white;
  }

  .map__invite {
    margin-left: 76px;
  }

  .map__address-wrapper {
    margin-right: 85px;
  }

  .map__address {
    text-align: start;
  }

  .map__image {
    width: 1440px;
    margin-top: 0;
  }

  .map__pin {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 124px;

    margin-left: 278px;
    margin-top: -50px;
  }
}
