.map {
  display: flex;
  flex-direction: column;
}
.map__wrapper {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    margin: 0 30px;
  }
}


.map__invite {
  width: 125px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.map__adress {
  width: 135px;
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;

}

@media (min-width: $tablet-width) {
  .map__adress {
    text-align: end;;
  }
}


.map__image {
  align-self: center;
}
