.page-footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  background-color: $white-four;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  // align-items: center;
  justify-content: space-between;
  min-width: 280px;
  margin: 0 20px;
}

.page-footer__wrap a {
  align-self: center;
}

.page-footer__logo-image {
  margin: 39px 0 30px;
  // padding: 39px 0 30px;
}

.page-footer__link-wrap {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  min-height: 78px;

  &:hover .page-footer__link-image {
    fill: $leaf;
  }

  // &:active .page-footer__link {
  //   opacity: 0.3;
  // }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__link-text {
  align-self: center;
  // margin: 31px 0;
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  font-family: $arial;
  text-transform: none;
  color: $dark-grey;

  cursor: pointer;
}

.page-footer__link-image {
  // width: 42px;
  // height: 40px;

  fill: #666666;

  // &:hover {
  //   fill: $leaf;
  // }
}

@media (min-width: $tablet-width) {
  .page-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    margin: 0 30px;
  }

  .page-footer__logo-image {
    padding: 0;
  }

  .page-footer__link-wrap {
    justify-content: flex-end;
    // width: 250px;
  }

  .page-footer__link {
    margin: 0;
  }

  .page-footer__link-text {
    margin: 0;
    margin-right: 23px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    max-width: 1440px;
  }

  .page-footer__wrap {
    margin: 0 110px;
  }

  .page-footer__link-wrap {
    // width: 250px;
    width: 164px;
  }

  // .page-footer__link-text {
  //   margin-right: 20px;
  // }
}
