.page-footer {
  display: flex;
  flex-direction: column;
  min-height: 236px;
  margin: 0 auto;

  background-color: $white-four;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
  margin: 0 20px;
  margin-left: 19px;
}

.page-footer__wrap a {
  align-self: center;
}

.page-footer__logo-image {
  margin: 39px 0 30px;
}

.page-footer__link-wrap {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  min-height: 78px;

  &:hover .page-footer__link-image {
    fill: $leaf;
  }

  &:active .page-footer__link {
    opacity: 0.3;
  }
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.page-footer__link-text {
  align-self: center;
  // margin: 31px 0;
  margin: 0;
  padding-top: 2px;

  font-size: 16px;
  line-height: 16px;
  font-family: $arial;
  text-transform: none;
  color: $dark-grey;

  cursor: pointer;
}

.page-footer__link-image {
  // width: 42px;
  // height: 40px;
  padding-top: 2px;

  fill: #666666;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 150px;
  }

  .page-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 30px;
    margin-top: 25px;
  }

  .page-footer__logo-image {
    margin-left: 1px;
    padding: 0;
  }

  .page-footer__link-wrap {
    justify-content: flex-end;
    min-height: 36px;
    margin-top: 1px;
  }

  .page-footer__link {
    margin: 0;
  }

  .page-footer__link-text {
    margin: 0;
    margin-right: 23px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin: 0 auto;
  }

  .page-footer__container {
    width: 1440px;
    margin: 0 auto;
  }

  .page-footer__wrap {
    margin: 25px 110px;
  }
}
