.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 65px;
  margin: 0 auto;
}

.page-header__logo-image {
  padding: 11px 0 15px 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo-image {
    padding: 24px 0 15px 29px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1440px;
  }
}
