.socials {
  // width: 100%;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 62px;
  margin: 0 auto;
  padding: 0;

  border-top: $very-light-pink-three;
  border-top-color: rgba(205, 205, 205, 0.1);
  border-bottom: $very-light-pink-three;
  border-bottom-color: rgba(205, 205, 205, 0.1);

  list-style: none;
}

.socials__item {
  position: relative;

  width: 32px;
  height: 32px;
  margin-right: 22px;

  font-size: 0;

  &:last-of-type {
    margin-right: 0;
  }

  // &:nth-of-type(1)::before {
  //   content: "";

  //   position: absolute;
  //   top: 12px;
  //   left: 3px;

  //   width: 22px;
  //   height: 12px;

  //   background-image: url("../img/icon-vk.svg");
  //   background-repeat: no-repeat;
  // }

  // &:nth-of-type(2)::before {
  //   content: "";

  //   position: absolute;
  //   top: 10px;
  //   left: 8px;

  //   width: 17px;
  //   height: 17px;

  //   background-image: url("../img/icon-insta.svg");
  //   background-repeat: no-repeat;
  // }

  // &:nth-of-type(3)::before {
  //   content: "";

  //   position: absolute;
  //   top: 8px;
  //   left: 11px;

  //   width: 10px;
  //   height: 19px;

  //   background-image: url("../img/icon-fb.svg");
  //   background-repeat: no-repeat;
  // }
}

@media (min-width: $tablet-width) {
  .socials__list {
    border: none;
  }

  .socials__item {
    margin-right: 22px;

    &:nth-of-type(1)::before {
      top: 10px;
      left: 3px;

      width: 30px;
      height: 16px;
    }

    &:nth-of-type(2)::before {
      top: 8px;
      left: 8px;

      width: 23px;
      height: 23px;
    }

    &:nth-of-type(3)::before {
      top: 6px;
      left: 11px;

      width: 14px;
      height: 28px;
    }
  }
}
